@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body{
    background-color: rgb(162, 162, 162);
}
.date {
   text-align: left;
}
h1{
    text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.newspaper-container {
    width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 1px 1px 10px grey;
    text-align: center;
}
nav{
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    position: sticky;
    top: 0px;
    background: white;
}
ul{
    padding-left: 0px;
}
li {
    display: inline-block;
    margin: opx;
}
p {
    text-align: justify;
    padding: opx 16px;
}
.more-articles {
    display: inline-block;
    align-items: center;
    background-color: aliceblue;
    padding: 25px;
    border: #777 5px ;
}
a{
    text-decoration: none;
    color: #777;
}
img {
    width: 100%;
}
section {
    display: inline-block;
    width: 49%;
    margin: 2px;
}
.add-more-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
}